<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba de un timer</title>
</head>
<body>
    <h1>Probando como funciona un timer y que sea una cuenta atras.</h1>
    <div class=container>
        <p id=countdown>10</p>
        <input type="button" value="empieza">
        <input type="button" value="pausa">
        <input type="button" value="reanuda">

        <p id="end"></p>
    </div>
    <script src="timer.js"></script>
</body>
</html>