<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flip-card</title>
    <link rel="stylesheet" href="flip-card.css">
</head>
<body>
    <h1>Card Flip with Text</h1>
    <h3>Hover over the image below:</h3>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="../logotipo01.jpg" alt="Avatar">
            </div>
            <div class="flip-card-back">
                <h1>John Doe</h1> 
                <p>Architect & Engineer</p> 
                <p>We love that guy</p>
            </div>
        </div>
    </div>
</body>
</html>