<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip Card Con Click</title>
    <link rel="stylesheet" href="flip-card-03-click.css">
</head>
<body>
    <div class="container">
        <div class="card" onclick="flip(event)">
          <div class="front">
            <h1>This is the front</h1>
            <p> Here is some additional text</p>
          </div>
          <div class="back">
            <h1>This is the back</h1>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="card"  onclick="flip(event)">
          <div class="front">
            <h1>This is the front</h1>
            <p> Here is some additional text</p>
          </div>
          <div class="back">
            <h1>This is the back</h1>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="card" onclick="flip(event)">
          <div class="front">
            <h1>This is the front</h1>
            <p> Here is some additional text</p>
          </div>
          <div class="back">
            <h1>This is the back</h1>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="card"  onclick="flip(event)">
          <div class="front">
            <h1>This is the front</h1>
            <p> Here is some additional text</p>
          </div>
          <div class="back">
            <h1>This is the back</h1>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="card"  onclick="flip(event)">
          <div class="front">
            <h1>This is the front</h1>
            <p> Here is some additional text</p>
          </div>
          <div class="back">
            <h1>This is the back</h1>
          </div>
        </div>
      </div>
      <script src="flip-card-03.js"></script>
</body>
</html>