<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="flip-card-mario.css">
    <title>Flip Card de Mario</title>
</head>
<body>
    <body>
        <div class="box">
          <div class="front">Hello</div>
          <div class="back">World!</div>
        </div>
        <input type="button" value="envia">
      </body>
</body>
</html>