<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>solo el rosco</title>
    <link rel="stylesheet" href="rosco.css">
</head>
<body>
    <header>Prueba para hacer el rosco responsive</header>
    <main>
        <div id="rosco">
            <div class ="rosco-letter"><span>A</span></div>
            <div class ="rosco-letter success"><span>B</span></div>
            <div class ="rosco-letter mistake"><span>C</span></div>
            <div class ="rosco-letter"><span>D</span></div>
            <div class ="rosco-letter"><span>E</span></div>
            <div class ="rosco-letter"><span>F</span></div>
            <div class ="rosco-letter"><span>G</span></div>
            <div class ="rosco-letter"><span>H</span></div>
            <div class ="rosco-letter"><span>I</span></div>
            <div class ="rosco-letter"><span>J</span></div>
            <div class ="rosco-letter"><span>K</span></div>
            <div class ="rosco-letter"><span>L</span></div>
            <div class ="rosco-letter"><span>M</span></div>
            <div class ="rosco-letter"><span>N</span></div>
            <div class ="rosco-letter"><span>Ñ</span></div>
            <div class ="rosco-letter"><span>O</span></div>
            <div class ="rosco-letter"><span>P</span></div>
            <div class ="rosco-letter"><span>Q</span></div>
            <div class ="rosco-letter"><span>R</span></div>
            <div class ="rosco-letter"><span>S</span></div>
            <div class ="rosco-letter"><span>T</span></div>
            <div class ="rosco-letter"><span>U</span></div>
            <div class ="rosco-letter"><span>V</span></div>
            <div class ="rosco-letter"><span>W</span></div>
            <div class ="rosco-letter"><span>X</span></div>
            <div class ="rosco-letter"><span>Y</span></div>
            <div class ="rosco-letter"><span>Z</span></div>
            <div class = "video"></div>
        </div>
        <div id=game-status>
            Aqui el estado del juego.
        </div>

    </main>
    <footer>A ver si rula</footer>
</body>
</html>